<bild>https://gitlab.com/dotmavriq1/dotblog/-/wikis/uploads/0c6c1412e52d74d55534503c7ec04d56/image.png</bild>


<marquee scrollamount="4">
<a href="https://gitlab.com/DotMavriq">
<img border="0" alt="GITLAB" src="https://gitlab.com/dotmavriq1/dotblog/-/wikis/uploads/4f40008aa771b7cb5877a3f98a67c30a/gitlab.png" width="80" height="80"></a>
</marquee>

<marquee scrollamount="3"><a href="https://www.youtube.com/channel/UCa0xHQDkmyHUg5gRGLc8JTw?view_as=subscriber">
<img border="0" alt="YouTube" src="https://gitlab.com/dotmavriq1/dotblog/-/wikis/uploads/985388d061ab2c12224409c5fd51b6d8/youtube.png" width="80" height="80"></a></marquee>

<marquee scrollamount="2"><a href="https://twitter.com/dotmavriq"><img border="0" alt="Twitter" src="https://gitlab.com/dotmavriq1/dotblog/-/wikis/uploads/adb0d6100d3c393e203c71d48b969c0a/twitter.png" width="80" height="80"></a></marquee>

<marquee scrollamount="1"><a href="https://myanimelist.net/animelist/dotmavriq?status=7"><img border="0" alt="MYANIMELIST" src="https://gitlab.com/dotmavriq1/dotblog/-/wikis/uploads/374457443216d3c8b22830222cfa7aea/myanimelist.png" width="80" height="80"></a></marquee>

<marquee scrollamount="2"><a href="https://www.last.fm/user/dotmavriq"><img border="0" alt="LASTFM" src="https://gitlab.com/dotmavriq1/dotblog/-/wikis/uploads/3bec054393f1519dd653731ea254da4f/last-fm-icon.png" width="80" height="80"></a></marquee>

<marquee scrollamount="3">
<a href="https://www.goodreads.com/dotmavriq"><img border="0" alt="GoodReads" src="https://gitlab.com/dotmavriq1/dotblog/-/wikis/uploads/b6e854d814be052b0d420ad9ad530444/book.png" width="80" height="80"></a>
</marquee>

<marquee scrollamount="4">
<a href="https://open.spotify.com/user/0x3762ddtcfe3kb6jmn75dg8y?si=AaGxkAkdR6m-A4k7wAPH_Q"><img border="0" alt="SPOTIFY" src="https://gitlab.com/dotmavriq1/dotblog/-/wikis/uploads/5d50ab25a96edaedc8aa0e3afae71aa6/spotify.png" width="80" height="80"></a>
</marquee>

<style type="text/css">#logo_small{ width: 150px; height: 60px; background: url('https://i.imgur.com/IFwy1Of.png') no-repeat; } div#div_logo div.f_left img { height: 0px; } div.box_m { padding-right: 0px; }</style>
<style>body {background-color: #282828;}</style>
<style> h1 {font-family:consolas;color:#83A598;font-size:32px;} </style>
<style>#gb_text {font-family:consolas; color:#fabd2f;}</style> 
<style>.box_c {background:none;}</style> 
<style>.title_box, .box, .box_m, .box_c, #div_menu, #div_menu_2, .m_m_off, .m_m_on {background:none;}</style> 
<style>nav#tabs a {background-color: #32302F;}</style> 
<style>a:hover, .title_a:hover, .title_smal_a:hover, .a_reverse_b:hover, .a_reverse_big:hover, .a_reverse:hover {text-decoration:none; color:#D3869B;}</style>
<style type="text/css">body, table, input, textarea, select, a, option,td{font-family:consolas; font-size:16px; color:#EBDBB2;}a:hover img{filter:none}</style>
<style type="text/css">url, marquee{font-family:consolas; font-size:32px; color:#8EC07C;}</style>
